/* Register Page Styles */
.register-container {
    padding-top: 50px;
  }
  
  .register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  
  .register-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .register-form label {
    color: #495057;
  }
  
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  