.custom-card {
    transition: transform 0.2s;
  }
  
  .custom-card:hover {
    transform: scale(1.05);
  }
  
  .custom-video {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
  }
  
  .card-footer {
    background-color: white;
    border-top: none;
  }
  