/* Login.css */

/* Login container */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  
  /* Login title */
  .login-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  /* Form inputs */
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  /* User type selection */
  .login-container select {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  /* Login button */
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  /* Link to registration page */
  .login-container a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
  }
  