/* Admin Page Styles */
.admin-container {
    padding-top: 20px;
  }
  
  .admin-title {
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .admin-sidebar {
    background-color: #343a40;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
  }
  
  .admin-sidebar h2 {
    color: #fff;
  }
  
  .admin-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-sidebar li {
    margin-bottom: 10px;
  }
  
  .admin-sidebar li a {
    color: #ced4da;
    text-decoration: none;
  }
  
  .admin-sidebar li a:hover {
    color: #17a2b8;
  }
  
  .admin-main-content {
    padding: 20px;
  }
  
  

/* 
  .sidebar h2 {
    color: #007bff;
  }
  
  .sidebar ul {
    padding-left: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar li a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar li a:hover {
    color: #007bff;
  }
   */